
<div class="sidebar-container">
    <div class="sidebar-logo">
     <h3>Zomato</h3>
     <p>write some thing here</p>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="font-size:14px"> Dropdown button</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div>
      <img src="">      
      
    </div>
    <div style="margin: 10px;">
      <img style="height: 100px;" src="../../assets/img.jpg">
      <h4>Pokcket cafe</h4>
      <p style="font-size: 12px;color: white;">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
      </p>
    </div>
    <ul class="sidebar-navigation">
      <!-- <li class="header">Navigation</li> -->
      <li class="header">
        Category
      </li>
      <li class="header">
        Delivery
      </li>
      <li class="header">
        Menu
      </li>
      <li class="header">
        Help
      </li>
      

     
    </ul>
  </div>
  <div class="content-container">

    <div class="container-fluid">  
    <app-dashboard></app-dashboard>      
  
    </div>
  </div>
 
  
 
  